.muut_settings .form-table {
    margin-left: 30px;
}

.muut_settings .form-table tr,
.muut_settings .form-table th {
    vertical-align: top;
}

.muut_settings .form-table tr.disabled th,
.muut_settings .form-table tr.disabled td {
    color: #999;
}

#muut_page_forum_settings {
    margin-top: 10px;
}

#muut_forum_nav_headers .muut_forum_header_item {
    background-color: #ffffff;
    display: block;
    float:left;
    width: 80%;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

#muut_forum_nav_headers .muut-category-header-actions {
    background-color: #fafafa;
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
}

#muut_forum_nav_headers .menu-header-input-label {
    margin-right: 10px;
    vertical-align: top;
}

#muut_forum_nav_headers .muut-category-header-content {
    padding: 10px;
}

.muut_page_muut_custom_navigation #col-right {
    width: 40%;
}
.muut_page_muut_custom_navigation #col-left {
    width: 60%;
}