.muut_settings .form-table {
    margin-left: 30px;
}

.muut_settings .form-table tr,
.muut_settings .form-table th {
    vertical-align: top;
}

.muut_settings .form-table tr.disabled th,
.muut_settings .form-table tr.disabled td {
    color: #999;
}

#muut_page_forum_settings {
    margin-top: 10px;
}