.muut_settings .form-table {
    margin-left: 30px;
}

.muut_settings .form-table tr,
.muut_settings .form-table th {
    vertical-align: top;
}

.muut_settings .form-table tr.disabled th,
.muut_settings .form-table tr.disabled td,
p.disabled,
span.disabled,
span.disabled input[type=text]
{
    color: #999;
}

#muut_page_forum_settings {
    margin-top: 10px;
}

#muut_forum_page_advanced_options {
    display: none;
}

.muut_admin_wrapper p,
.muut_admin_wrapper ul li {
    line-height: 1.9em;
}

.muut_admin_wrapper span.bullet-title {
    font-weight: bold;
    font-style: italic;
}

.muut_admin_wrapper ul {
    margin-left: 40px;
    list-style: circle;
}

.muut-header-logo {
    float: left;
    margin: 10px 10px 10px 0;
    height: 57px;
    width: 57px;
    background-image: url( '//muut.com/apple-touch-icon-57x57-precomposed.png' );
}