/**
 * ==========================
 * Muut Frontend CSS
 * ==========================
 */

/* Channel Embed Widget */
.widget_muut_channel_embed_widget .m-page {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: -90px;
}

#muut-widget-channel-embed-wrapper a.m-facelink,
#muut-widget-channel-embed-wrapper a.m-online {
    margin-right: .2em;
}

#muut-widget-online-users-wrapper a.m-facelink.m-hovered img.m-face {
    box-shadow: 0 0 .2em #1fadc5;
}

#muut-widget-online-users-wrapper .m-users {
}

#muut-widget-online-users-wrapper .m-logged-users a.m-facelink,
#muut-widget-online-users-wrapper .m-logged-users a.m-online {
    position: relative;
    float: none;
    margin: 0 .2em .5em;
}

#muut-widget-online-users-wrapper .m-logged-users a.m-facelink {
    height: 2.3em;
    width: 2.3em;
}

#muut-widget-online-users-wrapper .m-logged-users img.m-face {
    vertical-align: baseline;
    box-sizing: border-box;
}

#muut-widget-channel-embed-wrapper .m-logged .m-login {
    display: none;
}

#muut-widget-channel-embed-wrapper .m-show-help {
    padding: .3em;
}

#muut-widget-channel-embed-wrapper .m-spammed,
#muut-widget-channel-embed-wrapper .m-unspam,
#muut-widget-channel-embed-wrapper .m-no-logged .m-me {
    display: none;
}

#muut-widget-channel-embed-wrapper .m-sso-link {
    display: block;
    padding: .8em 1em;
}