/**
 * ==========================
 * Muut Frontend CSS
 * ==========================
 */

/* Channel Embed Widget */
.widget_muut_channel_embed_widget .m-page {
    font-size: 14px;
    margin-bottom: -120px;
}

#muut-widget-channel-embed-wrapper a.m-facelink,
#muut-widget-channel-embed-wrapper a.m-online {
    margin-right: .4em;
}

#muut-widget-channel-embed-wrapper .m-logged .m-login {
    display: none;
}

#muut-widget-channel-embed-wrapper .m-show-help {
    padding: .3em;
}

#muut-widget-channel-embed-wrapper .m-spammed,
#muut-widget-channel-embed-wrapper .m-unspam,
#muut-widget-channel-embed-wrapper .m-no-logged .m-me {
    display: none;
}

#muut-widget-channel-embed-wrapper .m-sso-link {
    display: block;
    padding: .8em 1em;
}